@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,body {
	background: #FFFFFF;
	font: normal 15px "Microsoft YaHei";
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color:#056DAF;
}

#top_logo {
	width: 400px;
	float: left;
	vertical-align: middle;
	height: 80px;
	line-height: 80px;
	padding: 1px 1px 1px 40px;
	background: url('images/topleft.jpg') no-repeat;
}

#top_links {
	width: 600px;
	height:80px;
	float: right;
	line-height: 80px;
	color: #ADADAD;
	position: relative;
}

#top_op {
	width: 600px;
}

#top_op ul {
	list-style-type: none;
}

#top_op ul li {
	display: inline-block;
	margin-right: 20px;
	height:80px;
}

#top_op ul li img {
	vertical-align:middle;
}

#top_links a:link,#nav_links a:visited,#nav_links a:hover,#nav_links a:active
	{
	list-style: none;
	text-decoration: none;
	color: #fff;
}

#top_links a:hover {
	list-style: none;
	text-decoration: underline;
	color: #fff;
}

#top_close {
	width: 80px;
	position: absolute;
	right: 0px;
	top: 0px;
	border-left: 1px solid #171717;
	vertical-align: text-top;
	float:right;
}

#side {
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 0px;
	width: 280px;
	overflow: hidden;
/* 	border-right: 5px solid #DDDDDD; */
}

#main {
	position: absolute;
	left: 280px;
	top: 140px;
	bottom: 0px;
	right: 0px;
	width: auto;
	z-index: 2;
	overflow: hidden;
}

#top_nav {
	position: fixed;
	width: 77%;
	top: 70px;
	left: 304px;
	height: 58px;
	line-height: 70px;
	color: #8A8A8A;
	font-size: 14px;
	border-bottom: 1px solid #171717;
}
