<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji50.zhucexiaadmin.dao.mapper.GoodPoMapper">
	<resultMap id="BaseResultMap" type="com.keji50.zhucexiaadmin.dao.po.GoodPo">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="good_type_id" property="good_type_id" jdbcType="DECIMAL" />
		<result column="good_type_name" property="good_type_name" jdbcType="VARCHAR" />
		<result column="price_range" property="price_range" jdbcType="VARCHAR" />
		<result column="price_market" property="price_market" jdbcType="DECIMAL" />
		<result column="pic_id" property="pic_id" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="register_cost" property="register_cost" jdbcType="VARCHAR" />
		<result column="apply_condition" property="apply_condition" jdbcType="VARCHAR" />
		<result column="detail_content" property="detail_content" jdbcType="VARCHAR" />
		<result column="begin_sale_time" property="begin_sale_time" jdbcType="TIMESTAMP" />
		<result column="end_sale_time" property="end_sale_time" jdbcType="TIMESTAMP" />
		<result column="total_sales" property="total_sales" jdbcType="DECIMAL" />
		<result column="daily_sales" property="daily_sales" jdbcType="DECIMAL" />
		<result column="index_show" property="index_show" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="initialNum" property="initialNum" jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="click_count" property="click_count" jdbcType="DECIMAL" />
		<result column="comment_count" property="comment_count" jdbcType="DECIMAL" />
		<result column="sort" property="sort" jdbcType="DECIMAL" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id,code,name,good_type_id,good_type_name,price_range,price_market,pic_id,pic,register_cost,  
		apply_condition,detail_content,begin_sale_time,end_sale_time,total_sales,daily_sales,
		index_show,state,initialNum,remark,click_count,comment_count,sort,create_by,create_time,update_by,update_time
	</sql>
	<sql id="simple_Column_List">
		id,code,name,good_type_name,price_market,pic,
		begin_sale_time,end_sale_time,
		index_show,sort
	</sql>
     <select id="selectGoodType" resultType="java.util.HashMap" >
		select id,name
		from good_type
		where 1=1
	</select>
     
	<!-- 分页查询-->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select <include refid="simple_Column_List" />
		from good
		where 1=1  and state='s' order by sort
	</select>
	
	<!-- 查询单个商品信息，商品信息修改 -->
	<select id="getGoodById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from good
		where id=#{id} and state='s'
	</select>
	
	<insert id="insertGood" parameterType="com.keji50.zhucexiaadmin.dao.po.GoodPo">
		insert into good(code,name,good_type_id,good_type_name,price_range,price_market,pic_id,pic,register_cost,  
		apply_condition,detail_content,begin_sale_time,end_sale_time,
		index_show,initialNum,remark,sort,create_by,create_time) values(
		#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{good_type_id,jdbcType=DECIMAL}, #{good_type_name,jdbcType=VARCHAR},
		#{price_range,jdbcType=VARCHAR}, #{price_market,jdbcType=DECIMAL},
		#{pic_id,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
		#{register_cost,jdbcType=VARCHAR}, #{apply_condition,jdbcType=VARCHAR},
		#{detail_content,jdbcType=DECIMAL}, #{begin_sale_time,jdbcType=TIMESTAMP},
		#{end_sale_time,jdbcType=VARCHAR}, #{index_show,jdbcType=VARCHAR},
		#{initialNum,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},
		#{sort,jdbcType=DECIMAL}, #{createBy,jdbcType=DECIMAL},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<delete id="deleteGood">
	delete from good where id=#{id,jdbcType=DECIMAL}
	</delete>
	
	<update id="updateGood" parameterType="com.keji50.zhucexiaadmin.dao.po.GoodPo">
		update good set code=#{code,jdbcType=VARCHAR},name=#{name,jdbcType=VARCHAR},good_type_id=#{good_type_id,jdbcType=DECIMAL},
		good_type_name=#{good_type_name,jdbcType=VARCHAR},price_range=#{price_range,jdbcType=VARCHAR},
		price_market=#{price_market,jdbcType=DECIMAL},
		pic_id=#{pic_id,jdbcType=VARCHAR}, pic=#{pic,jdbcType=VARCHAR},
		register_cost=#{register_cost,jdbcType=VARCHAR}, apply_condition=#{apply_condition,jdbcType=VARCHAR},
		detail_content=#{detail_content,jdbcType=DECIMAL}, begin_sale_time=#{begin_sale_time,jdbcType=TIMESTAMP},
		end_sale_time=#{end_sale_time,jdbcType=VARCHAR}, index_show=#{index_show,jdbcType=VARCHAR},
		initialNum=#{initialNum,jdbcType=DECIMAL}, remark=#{remark,jdbcType=VARCHAR},
		sort=#{sort,jdbcType=DECIMAL}, update_by=#{updateBy,jdbcType=DECIMAL},
		update_time=#{updateTime,jdbcType=TIMESTAMP} where id=#{id}
	</update>
	
	<!-- 逻辑删除商品信息 -->
	<update id="delGood" parameterType="java.lang.Integer">
		update good set state='d' where id=#{id}
	</update>
	<select id="selectGood" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select name,id from good
	</select>

</mapper>
