<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji50.zhucexiaadmin.dao.mapper.GoodAttrValuePoMapper">
	<resultMap id="BaseResultMap" type="com.keji50.zhucexiaadmin.dao.po.GoodAttrValuePo">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="good_id" property="goodid" jdbcType="DECIMAL" />
		<result column="good_attr_id" property="goodattrid" jdbcType="DECIMAL" />
		<result column="attr_value" property="attrvalue" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="DECIMAL" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<!-- 关联到角色表信息 
			association：用于映射关联查询单个对象的信息
			property：要将关联查询的用户信息映射到Orders中哪个属性
		 -->
		 
	   <association property="goodattr" javaType="com.keji50.zhucexiaadmin.dao.po.GoodAttrPo">
		 	  <!--id：关联查询用户的唯 一标识
					column：指定唯 一标识用户信息的列
					javaType：映射到user的哪个属性
			 -->
		 	  <id column="id" property="id" jdbcType="DECIMAL" />
			  <result column="name" property="name" jdbcType="VARCHAR" />
			  <result column="code" property="code" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id,good_id,good_attr_id, attr_value, sort,create_by,create_time, update_by, update_time
	</sql>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT a.*,b.name,b.code
		FROM good_attr_value a LEFT JOIN good_attr b ON a.good_attr_id=b.id
		WHERE 1=1
		 <if test="id != null and id !=''">
			and code = #{id,jdbcType=VARCHAR}
		</if> 
	</select>
	<delete id="deletegoodattrvalue" parameterType="int">
		delete from good_attr_value where id=#{id,jdbcType=DECIMAL}
	</delete>
	<insert id="addgoodattrvalue"  parameterType="com.keji50.zhucexiaadmin.dao.po.GoodAttrValuePo" >
		insert into good_attr_value(id, good_id, good_attr_id, sort, create_by,attr_value,create_time) value(#{id},#{goodid},#{goodattrid},#{sort},#{createBy},#{attrvalue},now())
	</insert>
	<select id="getgoodattrvalue" parameterType="int" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from good_attr_value where id=#{id,jdbcType=DECIMAL}
	</select>
	<update id="updategoodattrvalue">
		update good_attr_value set good_id=#{goodid,jdbcType=DECIMAL},attr_value=#{attrvalue,jdbcType=VARCHAR},good_attr_id=#{goodattrid,jdbcType=DECIMAL},update_by=#{updateBy,jdbcType=VARCHAR},sort=#{sort,jdbcType=DECIMAL},update_time=now() where id=#{id}
	</update>
</mapper>