<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji50.zhucexiaadmin.dao.mapper.SysPowerPoMapper">
	<resultMap id="BaseResultMap" type="com.keji50.zhucexiaadmin.dao.po.SysPowerPo">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="createBy" property="createBy" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updateBy" property="updateBy" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
	
	</resultMap>
	<sql id="Base_Column_List">
		
	</sql>

	<!-- 用户登录 -->
	<select id="login" resultMap="BaseResultMap" parameterType="com.keji50.zhucexiaadmin.dao.po.SysUserPo">
		select <include refid="Base_Column_List" />
		from sys_user
		where 1=1 and username=#{username,jdbcType=VARCHAR}
		and password=#{password,jdbcType=VARCHAR}
	</select>


</mapper>