<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji50.zhucexiaadmin.dao.mapper.SysRolePowerPoMapper">
	<resultMap id="BaseResultMap" type="com.keji50.zhucexiaadmin.dao.po.SysRolePowerPo">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="role_id" property="role_id" jdbcType="VARCHAR" />
		<result column="power_id" property="power_id" jdbcType="VARCHAR" />
		<result column="power_insert" property="power_insert" jdbcType="VARCHAR" />
		<result column="power_delete" property="power_delete" jdbcType="VARCHAR" />
		<result column="power_update" property="power_update" jdbcType="TIMESTAMP" />
		<result column="power_select" property="power_select" jdbcType="VARCHAR" />
		<!-- 关联到角色表信息 
			association：用于映射关联查询单个对象的信息
			property：要将关联查询的用户信息映射到Orders中哪个属性
		 -->
		 
	   <association property="sysRolePo" javaType="com.keji50.zhucexiaadmin.dao.po.SysRolePo">
		 	  <!--id：关联查询用户的唯 一标识
					column：指定唯 一标识用户信息的列
					javaType：映射到user的哪个属性
			 -->
		 	  <id column="id" property="id" jdbcType="DECIMAL" />
			  <result column="name" property="name" jdbcType="VARCHAR" />
		</association>
		
		
		<association property="sysPowerPo" javaType="com.keji50.zhucexiaadmin.dao.po.SysPowerPo">
		 	<id column="id" property="id" jdbcType="DECIMAL" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="href" property="href" jdbcType="VARCHAR" />
		</association>
		 
	</resultMap>
	<sql id="Base_Column_List">		
	</sql>
	
	<select id="selectRolePower" resultMap="BaseResultMap" parameterType="java.lang.String">
		select a.*,c.name,c.href from sys_role_power a ,sys_power c 
		where 1=1 and  a.power_id=c.id and a.role_id=#{role_id}
	</select>
	<insert id="insertRolePower" parameterType="com.keji50.zhucexiaadmin.dao.po.SysRolePowerPo">
		insert into sys_role_power (role_id,power_id,power_insert,power_update,power_delete,power_select) 
		values(#{role_id},#{power_id},#{power_insert},#{power_update},#{power_delete},#{power_select})
	</insert>
	
	<select id="checkRolePower" parameterType="com.keji50.zhucexiaadmin.dao.po.SysRolePowerPo" 
		resultType="com.keji50.zhucexiaadmin.dao.po.SysRolePowerPo">
		select state from sys_role_power where role_id=#{role_id} and power_id=#{power_id}
	</select>
	
	<update id="deleteRolePower" parameterType="int">
		update sys_role_power set state=0 where id=#{id}
	</update>
</mapper>